@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.react-flow__node {
  border-radius: 8px;
  padding: 10px;
  border: 2px solid #1a192b;
  background: white;
}

.react-flow__node.selected {
  border-color: #ff0072;
}

.react-flow__handle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
